@import 'fonts.css';

:root {
  --font-header: Jost, Roboto, Oxygen, Ubuntu, sans-serif;
  --accent-dark: #098f6b;
  --accent-light: #4cffcf;

  --white: #ffffff;
  --black: #000000;
  --black-50: rgba(0, 0, 0, 0.5);
  --grey: #3c3c3c;
}

body {
  color: var(--white);
  background-color: var(--black);
  margin: 0 auto;
}

main {
  margin: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 70vh;
}

.main-title-logo {
  max-width: 400px;
  z-index: 10;
}

.site-content {
  margin-top: 0;
  z-index: 30;
  max-width: 48rem;
}

.thin {
  max-width: 18rem;
}

.center {
  margin: 0 auto auto auto;
}

a {
  color: var(--accent-light);
}

a.big {
  font-size: 1.5rem;
}

p {
  font-weight: 300;
  font-size: 1.1rem;
  font-family: var(--font-header);
  line-height: 1.5rem;
}

img {
  width: 100%;
  height: 100%;
  margin: 1rem 0;
  border-radius: 8px;
}

.blurb {
  font-style: italic;
  color: var(--accent-light);
  font-size: 1.2rem;
  font-family: var(--font-header);
  font-weight: 300;
}

h1, h2, h3, h3 {
  font-family: var(--font-header);
  text-transform: uppercase;
  color: var(--accent-light);
  font-weight: 400;
  margin: 1rem 0 0.2rem 0;
}

.text-center {
  text-align: center;
}

h1.text-center {
  margin-bottom: 2rem;
}

/* Header */
header {
  background-color: var(--accent-dark);
  z-index: 0;
}

nav {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 20;
}

nav a {
  font-family: Jost;
  display: block;
  padding: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--white);
  text-transform: uppercase;
  font-weight: 300;
}

a.active {
  /* color: var(--accent-light); */
  font-weight: 600;
}

.main-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.top-left-corner {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  z-index: 5;
  height: unset;
  margin: unset;
  border-radius: unset;
}

/* Footer */
footer {
  /* position: fixed;
  bottom: 0; */
  width: 100%;
  font-family: var(--font-header);
  font-weight: 300;
}

.footer-contents {
  margin: 0 1rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact.left {
  align-items: flex-start;
}
.contact.right {
  align-items: end;
}

.contact a {
  display: flex;
  align-items: center;
}

.contact a img {
  height: 2rem;
  margin: 0 0.2rem;
  width: unset;
  border-radius: unset;
}

.footer-logo {
  height: 6rem;
  width: unset;
  border-radius: unset;
  margin: unset;
}

.footer-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.green-bar {
  height: 3rem;
  background-color: var(--accent-dark);
  position: relative;
}

.bottom-right-corner {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
  height: unset;
  margin: unset;
  border-radius: unset;
}


/* Posts */
.post-snippet {
  margin-bottom: 1rem;
}

.post-snippet {
  margin-bottom: 0.25rem;
}

.post-date {
    font-family: var(--font-header);
}

/* Timetable */
.day {
  text-decoration: none;
}

h3.day {
  margin-bottom: 0.25rem;
  font-weight: 700;
}

.times {
  list-style: none;
  padding-left: 0;
  font-size: 1.1rem;
  font-family: var(--font-header);
  font-weight: 300;
  margin-top: 0;
}

.back-link {
  font-family: var(--font-header);
  font-weight: 300;
  color: var(--accent-light);
}

.center-timetable {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Instructors */
.instructor-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.instructor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instructor-image {
  border-radius: 24px;
  margin: 0;
  width: 60%;
  height: unset;
}

.info {
  text-align: center;
}

.name {
  margin: 0;
}

.text-justify {
  text-align: justify;
}

.job-title {
  font-family: var(--font-header);
  font-weight: 300;
  font-size: 1.1rem;
  color: var(--accent-light)
}

.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Responsive */
@media screen and (max-width: 730px) {
  nav {
    background-color: var(--black-50);
  }

  .thin {
    max-width: 12rem;
  }

  .instructor-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }

  .footer-logo-container {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 2rem;
    top: 0;
    bottom: 0;
  }

  .main-menu li a {
    font-size: 1.1rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }

  .footer-contents {
    grid-template-columns: auto;
    position: relative;
  }

  .contact.right {
    align-items: flex-start;
  }

  .contact-link.right {
    display: flex;
    flex-direction: row-reverse;
  }
}

@media screen and (max-width: 380px) {
  .footer-logo-container {
    display: none;
  }

  .main-menu li a {
    font-size: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}