@import 'fonts.css';

:root {
  --font-header: Jost, Roboto, Oxygen, Ubuntu, sans-serif;
  --accent-dark: #098f6b;
  --accent-light: #4cffcf;

  --white: #ffffff;
  --black: #000000;
  --black-50: rgba(0, 0, 0, 0.5);
  --grey: #3c3c3c;
}

body {
  color: var(--white);
  background-color: var(--black);
  margin: 0 auto;
}

main {
  margin: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 90vh;
}

.main-title-logo {
  max-width: 400px;
  z-index: 10 ;
}

.main-content {
  margin: auto;
}

/* Header */
header {
  background-color: var(--accent-dark);
  z-index: 0;
}

nav {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 20;
}

nav a {
  font-family: Jost;
  display: block;
  padding: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--white);
  text-transform: uppercase;
  font-weight: 300;
}

a.active {
  /* color: var(--accent-light); */
  font-weight: 600;
}

.main-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.top-left-corner {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  z-index: 5;
}

/* Footer */
footer {
  /* position: fixed;
  bottom: 0; */
  width: 100%;
}

.footer-contents {
  margin: 0 1rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact.left {
  align-items: flex-start;
}  
.contact.right {
  align-items: end;
}

.contact a {
  color: var(--accent-light);
  display: flex;
  align-items: center;
}

.contact a img {
  height: 2rem;
}

.footer-logo {
  height: 6rem;
}

.footer-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.green-bar {
  height: 3rem;
  background-color: var(--accent-dark);
  position: relative;
}

.bottom-right-corner {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
}

/* Responsive */
@media screen and (max-width: 730px) {
  nav {
    background-color: var(--black-50);
  }

  .footer-logo-container {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 2rem;
    top: 0;
    bottom: 0;
  }

  .footer-contents {
    grid-template-columns: auto;
    position: relative;
  }

  .contact.right {
    align-items: flex-start;
  }

  .contact-link.right {
    display: flex;
    flex-direction: row-reverse;
  }
} 

@media screen and (max-width: 380px) {
  .footer-logo-container {
    display: none;
  }
}

/* Posts */
.post-snippet {
  margin-bottom: 1rem;
}

.post-snippet h3 {
  margin-bottom: 0.25rem;
}
