</main>

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
<footer>
  <div class="green-bar">
    <img class="bottom-right-corner" src="/identity/corner-design-bottom-right.svg"/>
  </div>
  <div class="footer-contents">
    <div class="contact left">
      <a href="facebook.com/fimbovibes">
        <img src="/icons/facebook.svg"/>
        @fimbovibes
      </a>
      <a href="https://www.instagram.com/fimbovibes/">
        <img src="/icons/instagram.svg"/>
        @fimbovibes
      </a>
    </div>
    <div class="footer-logo-container">
      <img class="footer-logo" src="/identity/icon-green.png"/>
    </div>
    <div class="contact right">
      <a href="mailto: fimbofitness@gmail.com" class="contact-link right">
        fimbofitness@gmail.com
        <img src="/icons/mail.svg"/>
      </a>
      <a href="tel:00256-788-239507" class="contact-link right">
        +256 788 239507
        <img src="/icons/phone.svg"/>
      </div>
    </div>
  </div>
	<!-- <p class="footer-text">&copy;{{ dateFormat "2006" now }} {{ .Site.Title }}</p> -->
</footer>
</body>
</html>
