{{ partial "header.html" . }}

<img src="/identity/logo-title-green.png" class="main-title-logo"/>
<div class="site-content center">
    <h1>{{ .Params.title }}</h1>

    <div class="blurb">{{ .Params.blurb }}</div>

    {{ range.Params.sections }}
        <h2>{{ .heading }}</h2>
        <p>{{ .text }}</p>
        <div class="image-container">
            <img class="image" src="images/{{ .image }}"/>
        </div>
        <hr/>
    {{ end }}

    {{ if .Params.video }}
        {{ $s := replaceRE `/watch\?` "/embed?" .Params.video }}
        <div class="video-container">
            <iframe src="{{ $s }}" class="video" frameborder="0" allowfullscreen>
            </iframe>
        </div>
    {{ end }}

    {{ .Content }}
</div>

{{ partial "footer.html" . }}
